body {
    background-color: aqua;
}
#title {
    position:relative;
    top:0px;
    background-color: white;
    width: 1366px;
    height: 50px;
    right: 0px;
}
#color-palette {
    background-color: white;
    position:relative;
    width: 1366px;
    height: 80px;
    right:0cm;
    top: 110px;
    
}

.color {
    position: absolute;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: flex;
    

}

#Cor1 {
    background-color: black;
    left: 10px;

}
#Cor2 {
    background-color: orange;
    border: 1px solid black;
    left: 60px;

}
#Cor3 {
    background-color: grey;
    left: 110px;

}
#Cor4 {
    background-color: green;
    left: 160px;


}

.pixel {
    background-color: white;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    top: 200px;

}
#pixel-board {
    position: relative;
    width: 210px;
    height: 210px;
    top: 200px;
    display: flex;
    flex-wrap: wrap;
}
.selected {
    background-color: black;
}