body {
    background-color: aqua;
}
#title {
    overflow:visible;
    position:absolute;
    top:0px;
}
#color-palette {
    background-color: white;
    position: absolute;
    width: 1366px;
    height: 130px;
    right:0cm;
    top: 60px;
}

.color {
    position: absolute;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    top: 60px;
}
#Cor1 {
    background-color: black;
    left: 10px
}
#Cor2 {
    background-color: orange;
    border: 1px solid black;
    left: 60px;
}
#Cor3 {
    background-color: grey;
    left: 110px;
}
#Cor4 {
    background-color: green;
    left: 160px;

}
#Cor5 {
    background-color: brown;
    left: 210px;


}